# Archivos de configuración sensibles
/.env
/.env.*.local
/.env.local.php
/composer.lock

# Archivos de configuración de bases de datos
/config/secrets/*

# Archivos de claves privadas
/config/jwt/*.pem

# Archivos de caché y logs
/var/
/logs/
/cache/

# Archivos de dependencias
/vendor/
/node_modules/

# Archivos de IDEs y editores
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de PHPUnit
/phpunit.xml
.phpunit.result.cache

# Archivos de cobertura de código
/coverage/
/.clover
/.coverage
/.nyc_output
/coverage-final.json

# Archivos de despliegue
/.build/

tests/