
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

.idea/
tests/

composer.lock
.env
/templates/pedido/index.html.twig


# Archivos de configuración sensibles
/.env

/composer.lock

# Archivos de configuración de bases de datos
/config/secrets/*

# Archivos de claves privadas

# Archivos de caché y logs

/logs/
/cache/

# Archivos de dependencias

/node_modules/

# Archivos de IDEs y editores
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de PHPUnit

# Archivos de cobertura de código
/coverage/
/.clover
/.coverage
/.nyc_output
/coverage-final.json

# Archivos de despliegue
/.build/

/tests

tests/